.form-row {
  align-items: center;
    flex-direction: column;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
}

.form-item {
  margin-bottom: 10px;
}

.form-buttons {
  margin-top: auto;
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
h2 {
  text-align: center;
}
.ReactModal__Content {

  width: 32%;
  height: 42%;

}
