.vehicle-details {
  width: 45%;
  display: table; /* Esto hará que se comporte como una tabla */
}

.detail-row {
  display: table-row;
}

.detail-row span {
  display: table-cell;
  padding: 5px; /* Agrega espacio dentro de cada celda */
  border-bottom: 1px solid #ddd; /* Línea separadora para cada detalle */
}

.detail-row span:first-child {
  font-weight: bold; /* Hace que la clave sea más destacada */
  width: 50%; /* Ajusta según sea necesario */
}
